@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')
@import "wMenu.css"
@import "wTutorial"
@import "wLobby"
@import "wGame"
@import "wScore"
@import "wWarning"

html, body
  margin: 0
  padding: 0
  font-family: Ubuntu, sans-serif

.w
  height: 100vh
  width: 100vw

.top
  height: 20vh
  width: 100vw
  display: flex
  background-color: #2065a2
  color: white

  .content
    width: calc(100vw - 40vh)
    height: 20vh
    display: flex
    justify-content: space-evenly

    h1
      text-align: center
      margin: auto

.middle
  height: 60vh
  width: 100vw
  display: flex
  justify-content: space-evenly

  .column
    width: 50vw
    display: flex
    flex-direction: column
    align-items: center

    ul
      padding: 0
      list-style-type: none

.bottom
  position: absolute
  height: 20vh
  width: 100vw
  margin: 80vh 0 0 0
  display: flex
  justify-content: space-between
  background-color: #2065a2

  .content
    height: 50%
    width: calc(100vw - 40vh)
    margin: auto auto
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.2rem
    color: white

  .btnBottom
    height: 100%
    padding: 0 2%
    font-size: 1.2rem
    color: black
    background-color: white

@media only screen and (max-height: 200px)
  .bottom
    height: 100vh
    margin: 0

    .btnRec
      height: 100vh
      width: 100vh

    .content
      width: calc(100vw - 200vh)


button
  font-family: Ubuntu, sans-serif
  font-size: 2rem
  color: white
  background-color: #2065a2
  border-style: none
  border-radius: 5px

.btnRec
  width: 20vh
  height: 20vh

button:active
  background-color: #022646

#warning-message
  display: none

  .top
    h1
      width: auto
      margin: auto

  p
    margin: 3% 3%
    font-size: 1.2rem

@media only screen and (orientation: portrait)
  #wrapper
    display: none

  #warning-message
    display: flex

@media only screen and (orientation: landscape)
  #warning-message
    display: none

