#wGame
  flex-direction: column

  #piano
    display: flex
    justify-content: space-between

    .key
      width: calc(100vw / 5 - 0.5%)
      height: 80vh
      border: solid black
      border-top: none
      border-radius: 0 0 15px 15px

      position: relative
      overflow: hidden
      transition: background 400ms

    span.ripple
      position: absolute
      border-radius: 50%
      transform: scale(0)
      animation: ripple 600ms linear

    @keyframes ripple
      to
        transform: scale(4)
        opacity: 0

    #k0, #k2, #k4
      background-color: white

      span.ripple
        background-color: rgba(0, 0, 0, 0.7)

    #k1, #k3
      background-color: black

      span.ripple
        background-color: rgba(255, 255, 255, 0.7)
