#wMenu
  display: flex
  align-items: center

  .left
    height: 65vh
    width: 30vw
    display: flex
    flex-direction: column
    justify-content: center

    button
      width: 100%
      margin: 5% 0 5% 0
      padding: 2%
      border-radius: 0 15px 15px 0

  img
    height: 65vh
    width: auto
    margin: 0 auto